<h1>Check Out My Work</h1>

<div id="knabba" class="animated slideInLeft"><img src="../images/projects/knabba/KnabbaMainScreen.PNG" id="knabbaBG"></div>

<div id="carischApp" class="animated slideInRight"><img src="../images/projects/carischApp/AppController1.PNG" id="carischBG"></div>

<div id="curling" class="animated slideInLeft">Curling</div>

<div id="portfolio" class="animated slideInRight">Portfolio</div>

<div ng-controller="knabbaModalController as vm">
    <div id="btn">
        <button class="btn btn-primary" ng-click="vm.open()">Open Modal</button>
    </div>
</div>