<h1>Check Out My Work</h1>

<div id="knabba" class="animated slideInLeft cursor" ng-controller="knabbaModalController as vm"><a ng-click="vm.open()"><img src="../images/projects/knabba/KnabbaMainScreen.PNG" id="knabbaBG"></a></div>

<div id="carischApp" class="animated slideInRight cursor"  ng-controller="carischModalController as vm"><a ng-click="vm.open()"><img src="../images/projects/carischApp/AppController1.PNG" id="carischBG"></a></div>

<div id="curling" class="animated slideInLeft">Curling</div>

<div id="portfolio" class="animated slideInRight">Portfolio</div>

