
@import "nav";
@import "svgName";
@import "mainContent";
@import "projects";
@import "about";
@import "contact";
@import "slider";
@import "modal";

html, body{
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}
